@charset "UTF-8";
/* CSS Document */
body {
    background-image: url('古风水墨山水.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.question {
    margin-bottom: 10px;
    font-family: STFangsong;
    font-size: 22px;
	text-align: center
	}
#questions .question {
    text-align: center;
}
@font-face {
    font-family: '字由青楷'; 
    src: url('字由青楷.ttf') format('truetype');  
}
